<div class="container">
    <h3>Liste des Utilisateurs</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>  
              <tr>  
                <th>En Ligne</th>
                <th>Prénom</th>  
                <th>Nom</th>  
                <th>Nom d'utilisateur</th>  
                <th>Actions</th>
              </tr>  
            </thead> 
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>