<h1>PlaceToCrash</h1>
<div>
    <h3>List of users</h3>
    <table class="table">
        <thead>  
          <tr>  
            <th>First Name</th>  
            <th>Last Name</th>  
            <th>Username</th>  
          </tr>  
        </thead> 
        <tbody class="tbody">
        </tbody>
    </table>

</div>