<div class="container">
	<div class="jumbotron">
		<h1>PlaceToCrash</h1>
		<p>Changelog : On peut désormais voir la liste des utilisateurs !</p>
		<p><a href="user" class="btn btn-lg btn-default">Voir liste</a></p>
	</div>
</div>