<div class="container">
	<div class="jumbotron">
		<h1>PlaceToCrash</h1>
		<p>Changelog : On peut désormais s'enregistrer !</p>
		<p><a href="user/signup" class="btn btn-lg btn-success">S'enregistrer</a></p>
	</div>
</div>