<div class="container">
	<div class="starter-template">
		<h1>PlaceToCrash</h1>
		<p>Changelog : On peut désormais s'enregistrer ! </p>
		<a href="user/signup"><button class="btn btn-default">S'enregistrer</button></a>
	</div>
</div><!-- /.container -->